/* Estilo para o corpo da página */
body {
    background: radial-gradient(#fff, #ffd6d6);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conta-page {
    background: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
}

/* O contêiner interno do formulário */
.form-container {
    background: #fff;
    padding: 30px; 
    position: relative;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    /* Remover 'height: auto' e adicionar padding vertical */
    padding-top: 50px;
    padding-bottom: 50px; 
}

/* Alinhamento dos botões de Login/Registro */
.form-container .form-btn {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
}

.form-container .form-btn span {
    flex-basis: 50%;
    padding: 0 10px;
    font-weight: bold;
    color: #555;
    cursor: pointer;
    position: relative;
    padding-bottom: 8px;
}

.form-container .form-btn span:hover {
    color: #ff9898;
}

#Indicador {
    width: 50%;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(0);
    transition: transform 1s;
    position: absolute;
    bottom: 0;
}

/* O contêiner que desliza */
.form-slider {
    display: flex;
    width: 100%;
    transform: translateX(0);
    transition: transform 1s;
}

/* Os formulários dentro do slider */
#LoginForm,
#RegForm {
    width: 100%;
    flex-shrink: 0;
    padding: 0 30px;
    box-sizing: border-box;
    text-align: center;
}

/* Estilo dos inputs e botões */
input {
    width: 100%;
    height: 40px;
    /* Aumentar a margem vertical para mais altura */
    margin: 15px 0; 
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    /* Aumentar a margem vertical para mais altura */
    margin: 15px 0; 
    background: #ff9898;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s;
}

button:hover {
    background: #e07b7b;
}

a {
    display: block;
    margin-top: 10px;
    color: #666;
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: #ff9898;
}