body {
    background: radial-gradient(#fff, #d7d0c9);
    font-family: "Italiana", serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; /* permite empilhar logo, título, tabela */
    align-items: center;
    justify-content: flex-start; /* alinhar conteúdo no topo */
}

.logo {
    margin-top: 30px;
    text-align: center;
}

.logo img {
    width: 125px;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 32px;
}

table {
    width: 80%;
    font-size: 25px;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px black solid;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgb(203, 203, 203);
}

tr:nth-child(odd) {
    background-color: rgb(163, 163, 163);
}

tr:hover {
    background-color: rgb(100, 100, 100);
}
